<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignment.shoppingbasketserver.dao.ItemDao">

    <insert id="insertItem" parameterType="ItemDto" useGeneratedKeys="true" keyProperty="itemNo">
        insert into item(item_name, item_price, item_description)
        values (#{itemName}, #{itemPrice}, #{itemDescription})
    </insert>

    <select id="selectItemByNo" resultType="ItemDto">
        select *
        from item
        where 1=1
        and item_no = #{itemNo}
    </select>

    <select id="selectItemByName" resultType="ItemDto">
        select *
        from item
        where 1=1
        and item_name = #{itemName}
    </select>

    <select id="selectItemLikeName" resultType="ItemDto">
        select *
        from item
        <if test='itemName != null'>
            where 1=1
            and item_name like concat ('%', #{itemName}, '%')
        </if>
    </select>
    
    <delete id="deleteItem">
        delete from item
        where 1=1
        and item_no = #{itemNo}
    </delete>
</mapper>