<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignment.shoppingbasketserver.dao.OrdersDao">

    <insert id="insertOrders" parameterType="OrdersDto">
        insert into orders(order_no, user_no, item_no, item_count, order_price)
        select concat(date_format(now(), '%X%m%d%H%i%s'), a.user_no),
        a.user_no, b.item_no, b.item_count, b.item_count * c.item_price
        from user a
        join basket b
        on a.user_no = b.user_no
        join item c
        on b.item_no = c.item_no
        where 1=1
        and a.user_no = #{userNo}
        <if test="itemNo != null">
            b.item_no = #{itemNo}
        </if>
    </insert>

    <select id="selectOrders" resultType="OrdersDto">
        select *
        from orders
        where 1=1
        and user_no = #{userNo}
        <if test="orderNo != null">
            and order_no = #{orderNo}
        </if>
    </select>

    <delete id="deleteOrders">
        delete from orders
        where 1=1
        and user_no = #{userNo}
        <if test="orderNo != null">
            and order_no = #{orderNo}
        </if>
    </delete>
</mapper>