<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignment.shoppingbasketserver.dao.CommonDao">

    <select id="selectUsers" resultType="com.assignment.shoppingbasketserver.dto.UserDto">
        SELECT *
        FROM user
    </select>

    <select id="selectItems" resultType="com.assignment.shoppingbasketserver.dto.ItemDto">
        SELECT *
        FROM item
    </select>

    <select id="selectBaskets" resultType="com.assignment.shoppingbasketserver.dto.BasketDto">
        SELECT *
        FROM basket
    </select>

    <select id="selectOrders" resultType="com.assignment.shoppingbasketserver.dto.OrdersDto">
        SELECT *
        FROM orders
    </select>

</mapper>